/* App.css */
.root {
  width: 100%;
  min-width: 1080;
}

.paper {
  margin-left: 18;
  margin-right: 18;
}

.progress {
  margin-top: 8px;
}

.tableHead {
  font-size: 1.0rem;
}

.menu {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
